/* Import Local CSS */
@import url(/css/reset.css);
@import url(/css/variables.css);

* {
	font-family: var(--primary-kr);
	font-weight: 300;
}

body {
	margin: 0;
	color: var(--dark-black);
	line-height: 1.5em;
	font-size: 14px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
	width: 375px;
	position: relative;
}

/* Logo CSS */
.logo {
	font-family: var(--logo-en);
}

/* Button CSS */
.btn-primary {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
}

/* Clear Buttons CSS */
.btn-all-clear {
	border: none;
	font-size: 11px;
	background-color: var(--gainsboro);
	color: #fff;
	border-radius: 20px;
	padding: 2px 8px;
}

.btn-clear {
	border: none;
	background-color: transparent;
	font-size: 22px;
	color: var(--silver-gray);
}

/* Badge CSS */
.badge {
	font-size: 10px;
	text-transform: uppercase;
	font-family: var(--primary-en);
	border-radius: 10px;
	padding: 2px 7px;
	color: #fff;
}

.badge.new {
	background-color: var(--turquoise);
}

.badge.hot {
	background-color: var(--crimson);
}

/* GNB CSS */
.gnb {
	/* 작업완료후 100%로 수정 */
	width: 375px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	/* 작업완료 후, fixed로 수정 */
	/* position: absolute;
	bottom: 0; */
	border-top: 1px solid var(--gloudy);
}

.gnb a {
	flex: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gnb a .bi {
	font-size: 22px;
}

.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi {
	font-size: 26px;
}

.gnb a span {
	display: block;
	font-size: 13px;
}

/* Main Header CSS */
.main-header {
	height: 80px;
	background-color: var(--crimson);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-historyback {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 22px;
	flex: 1;
}

.main-header .logo {
	color: #fff;
	font-size: 26px;
	margin: 0;
	flex: 6;
	text-align: center;
}

.user-alarm {
	flex: 1;
	color: #fff;
	font-size: 22px;
}

.user-alarm span,
.cart-alarm b {
	position: relative;
}

.user-alarm span em,
.cart-alarm b em {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: var(--royalblue);
	border-radius: 50%;
	top: 0;
	right: -4px;
}

.cart-alarm b em {
	top: -2px;
	right: 19px;
	color: #fff;
}

.user-alarm span em:before,
.cart-alarm b em:before {
	content: attr(data-count);
	font-style: normal;
	font-size: 10px;
	font-family: var(--primary-en);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Wish */
.wish {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
}

.wish:before {
	content: '\F417';
	font-family: bootstrap-icons;
	font-size: 16px;
	color: var(--silver-gray);
}

.wish.active:before {
	content: '\F415';
	font-family: bootstrap-icons;
	font-size: 16px;
	color: var(--crimson);
}

/* Content Padding */
[class*=content] {
	padding: 20px;
}

/* #### Preloading html #### */
.preloading {
	/* 작업 완료후 height : 100vh */
	height: 750px;
}

.preloading-inner {
	width: inherit;
	height: inherit;
	background: url(/images/preloading-back.jpg) no-repeat center left -140px;
	background-size: cover;
	position: relative;
}

.heading-preloading-inner {
	position: absolute;
	top: 73px;
	left: 33px;
}

.heading-preloading-inner .logo {
	font-size: 32px;
	color: var(--crimson);
	white-space: nowrap;
}

.slogan span {
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 43px;
	font-family: var(--secondary-kr);
}

/* #### Signin html #### */
.signin {
	height: 750px;
}

.signin-photo {
	height: 250px;
	background: url(/images/signin-header.jpg) no-repeat center;
	background-size: cover;
}

.signin-header {
	text-align: center;
}

.signin-header .logo {
	font-size: 26px;
	margin-bottom: 0;
}

.signin-header p {
	font-size: 16px;
	font-weight: 400;
}

.input-field input {
	border: 1px solid var(--gainsboro);
	padding: 10px 20px;
	width: 100%;
	border-radius: 30px;
	margin: 5px 0;
	transition: 0.35s;
}

.input-field input:focus {
	border-color: var(--yellowgreen);
}

.input-field input::placeholder {
	color: var(--silver-gray);
	transition: 0.35s;
}

.input-field input:focus::placeholder {
	opacity: 0;
}

.status {
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
}

.custom-chk label input[type=checkbox] {
	display: none;
}

.custom-chk label input[type=checkbox]+em {
	display: inline-block;
	width: 16px;
	height: 16px;
	transform: translateY(5px);
	font-style: normal;
}

.custom-chk label input[type=checkbox]+em:before {
	content: '\F26B';
	font-family: bootstrap-icons;
	color: var(--light-gray);
	display: inline-block;
	transform: translateY(-3px);
}

.custom-chk label input[type=checkbox]:checked+em:before {
	color: var(--crimson);
}

.btn-signin {
	background-color: var(--yellowgreen);
}

.join-member {
	text-align: center;
	margin: 15px 0;
}

.join-member a {
	text-decoration: underline;
	margin-left: 8px;
}

.easy-signin {
	text-align: center;
}

.easy-signin span {
	color: var(--light-gray);
}

.social-btn {
	margin: 10px 0;
}

.social-btn a {
	margin: 4px;
}

/* #### Signup html #### */
.signup-field {
	margin-bottom: 15px;
}

.signup-field span {
	display: block;
	font-weight: 400;
}

.signup-field span em {
	color: var(--crimson);
}

.signup-field.id-pw input {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--gainsboro);
	padding: 8px 0;
}

.signup-field input::placeholder {
	color: var(--silver-gray);
}

.signup-field.birth div {
	display: flex;
	gap: 8px;
	margin-top: 8px;
}

.signup-field.birth div>*,
.signup-field.phone div>* {
	width: 33.3333%;
	border: 1px solid var(--gainsboro);
	border-radius: 3px;
	padding: 7px;
	text-align: center;
}

.signup-field.phone div {
	display: flex;
	gap: 10px;
	margin-top: 8px;
}

.signup-field.phone div input {
	flex: 7;
}

.btn-getcode {
	flex: 4;
	background-color: #fff;
}

.agree-term {
	margin-bottom: 15px;
}

.agree-term label {
	display: block;
	font-size: 13px;
}

.btn-signup {
	background-color: var(--crimson);
}

.signup-field.id-pw input:focus,
.signup-field.birth div>*:focus,
.signup-field.phone div input:focus {
	border-color: var(--yellowgreen);
}

.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div>*:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
	opacity: 0;
}

/* #### Front html #### */
.front-content {
	padding: 0;
	overflow-x: hidden;
}

/* Category Navigation */
.category-navigation {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.category-navigation a {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 15px;
	border-bottom: 3px solid transparent;
}

.category-navigation a.active {
	border-bottom: 3px solid var(--crimson);
	color: var(--crimson);
}

/* Front Slider */
.front-slider {
	height: 275px;
}

.front-slider a img {
	width: 100%;
}

/* Slick Slider Custom CSS */
.front-slider .slick-arrow {
	z-index: 100;
}

.front-slider .slick-prev {
	left: 15px;
}

.front-slider .slick-prev:before {
	content: '\F284';
	font-family: bootstrap-icons;
	color: var(--dark-gray);
	zoom: 1.3
}

.front-slider .slick-next {
	right: 15px;
}

.front-slider .slick-next:before {
	content: '\F285';
	font-family: bootstrap-icons;
	color: var(--dark-gray);
	zoom: 1.3
}

/* Godds Suggestion Today */
.goods-suggestion {
	padding: 20px;
}

.goods-suggestion-header {
	margin-bottom: 8px;
}

.goods-suggestion-header h2 {
	font-size: 18px;
	line-height: 1.4em;
	font-weight: 500;
	margin: 0;
}

.goods-suggestion-header h2 span {
	display: block;
	font-size: 14px;
	color: var(--dark-gray);
}

.goods-suggestion-items {
	width: 460px;
	margin-bottom: 10px;
}

.goods-suggestion-item .thum {
	width: 145px;
	height: 180px;
}

.goods-suggestion-item .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	border-radius: 5px;
}

.goods-badge {
	margin: 3px 0;
}

.goods-suggestion-item .goods-title {
	width: 135px;
}

.goods-title h3 {
	font-size: 13px;
	line-height: 1.2em;
	font-weight: normal;
	margin-bottom: 5px;
}

.goods-title div {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.goods-title div span {
	color: var(--crimson);
}

.goods-title div b {
	font-weight: normal;
}

.goods-title div s {
	color: var(--silver-gray);
}

.btn-goods-suggestion-more {
	border-radius: 25px;
	border: 1px solid var(--crimson);
	display: block;
	text-align: center;
	padding: 7px;
	font-weight: normal;
	font-size: 15px;
}

/* Front Banner */
.front .banner img {
	width: 100%;
}

/* Popular Goods Tab Menu Content */
input[name=food-type-tabmenu] {
	display: none;
}

.food-type-tab-btn {
	height: 40px;
	background-color: var(--light-beige);
	display: flex;
	justify-content: space-between;
	padding: 0 2px;
}

.food-type-tab-btn label {
	flex: 1;
	text-align: center;
	line-height: 40px;
	font-weight: normal;
}

.food-type-tabs {
	padding: 20px;
}

.food-type-tab {
	display: none;
	counter-reset: rank;
}

input[id=food-type-tab1]:checked~.food-type-tabs .tab1,
input[id=food-type-tab2]:checked~.food-type-tabs .tab2,
input[id=food-type-tab3]:checked~.food-type-tabs .tab3,
input[id=food-type-tab4]:checked~.food-type-tabs .tab4,
input[id=food-type-tab5]:checked~.food-type-tabs .tab5,
input[id=food-type-tab6]:checked~.food-type-tabs .tab6 {
	display: block;
}

.tab-item {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;

}

.tab-item .thum {
	width: 115px;
	height: 85px;
	position: relative;
}

.tab-item .thum:before {
	counter-increment: rank;
	position: absolute;
	content: counter(rank);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	text-align: center;
	border-radius: 8px 0 0 0;
	padding-top: 4px;
}

.tab-item .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	border-radius: 8px;
}

.tab-item .desc .badge-wish {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tab-item .desc .badge-wish .goods-badge {
	margin: 0;
	margin-bottom: 3px;
}

.tab-item .desc .goods-title div {
	justify-content: flex-start;
	gap: 10px;
}

.btn-tab {
	margin-top: 22px;
}

/* Food Type Checked Fuction */
input[id=food-type-tab1]:checked~.food-type-tab-btn label[for=food-type-tab1],
input[id=food-type-tab2]:checked~.food-type-tab-btn label[for=food-type-tab2],
input[id=food-type-tab3]:checked~.food-type-tab-btn label[for=food-type-tab3],
input[id=food-type-tab4]:checked~.food-type-tab-btn label[for=food-type-tab4],
input[id=food-type-tab5]:checked~.food-type-tab-btn label[for=food-type-tab5],
input[id=food-type-tab6]:checked~.food-type-tab-btn label[for=food-type-tab6] {
	color: var(--crimson);
}

/* Front Footer */
.front-footer {
	padding: 20px;
	background-color: var(--gloudy);
}

.front-footer>h3 {
	font-size: 16px;
	margin-bottom: 0;
	font-weight: 500;
}

.company-link {
	margin: 5px 0;
}

.company-link a {
	font-weight: normal;
	margin-right: 3px;
}

.company-link a:after {
	content: '|';
	color: var(--silver-gray);
	font-size: 13px;
	padding-left: 8px;
	display: inline-block;
	transform: translateY(-1px);
}

.company-link a:last-child:after {
	display: none;
}

.company-info-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.company-info-title h3 {
	font-size: 14px;
	margin: 0;
	font-weight: normal;
}

.btn-view-more {
	background-color: transparent;
	border: none;
	color: var(--dark-gray)
}

.btn-view-more:after {
	content: '\F282';
	font-family: bootstrap-icons;
	font-size: 10px;
	display: inline-block;
	transform: translate(3px, 1px);
}

.company-info-more {
	display: none;
}

.company-info-more span {
	display: block;
}

/* #### Category html #### */
.category-content {
	padding: 0;
}

.category-accordion {
	font-size: 16px;
}

.category-accordion .title {
	border-bottom: 1px solid var(--gloudy);
	height: 50px;
	display: flex;
	align-items: center;
	color: var(--crimson);
	font-weight: 400;
	position: relative;
	padding: 0 20px;
}

.category-accordion .title:after,
.user-shortcut a:after {
	content: '\F282';
	font-family: bootstrap-icons;
	position: absolute;
	right: 10px;
	background-color: var(--fuschia);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 13px;
	transition: 0.35s;
}

.category-accordion .title.active:after {
	transform: rotate(180deg);
	background-color: transparent;
}

.category-accordion .detail {
	display: none;
	line-height: 2em;
	padding: 7px 0;
	background-color: var(--snow);
	padding: 0 20px;
}

.category-accordion .detail a {
	display: block;
	padding: 3px 0;
}

/* #### Search html #### */

.search-field input {
	border: none;
	padding: 8px;
	width: 100%;
	border-radius: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	background: var(--snow) url(/images/icon-search.svg) no-repeat center left 15px;
	padding-left: 40px;
}

.search-field input::placeholder {
	transition: 0.35s;
}

.search-field input:focus::placeholder {
	opacity: 0;
}

.search-recent {
	margin: 25px 0;
}

.search-recent .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-recent .title h3 {
	margin: 0;
	color: var(--crimson);
	font-size: 16px;
	font-weight: 500;
}

.search-content .items {
	margin: 15px 0;
}

.search-content .items .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--gloudy);
	padding: 6px 0;
}

.search-content .items .item span {
	font-size: 15px;
}

.search-increase .title h3 {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 5px;
}

.search-increase .title p {
	margin: 0;
	color: var(--silver-gray);
}

.search-increase-list {
	list-style: none;
	padding-left: 0;
	counter-reset: rank 0;
	line-height: 2em;
	font-size: 15px;
}

.search-increase-list li:before {
	counter-increment: rank;
	content: counter(rank);
	margin-right: 10px;
	font-weight: 500;
}

/* #### MyPage html #### */
.mypage-content {
	padding: 0;
}

.user-info {
	padding: 20px;
	display: flex;
	gap: 10px;
}

.user-avatar {
	flex: 1;
}

.user-avatar img {
	width: 60px;
	border-radius: 50%;
}

.user-summary {
	flex: 4;
}

.rating b {
	font-weight: 500;
	text-transform: uppercase;
	color: var(--limegreen);
	font-size: 16px;
}

.rating span {
	font-size: 16px;
	font-weight: 400;
	margin-left: 10px;
	color: var(--dart-gray);
}

.btn-setting {
	float: right;
	border: none;
	background-color: transparent;
	font-size: 20px;
	color: var(--light-gray);
	transform: translate(8px, -7px);
}

.nickname {
	font-size: 18px;
	margin-top: 5px;
	font-weight: 500;
}

.point-coupon {
	display: flex;
	gap: 7px;
}

.point-coupon div {
	background-color: var(--gloudy);
	border-radius: 18px;
	padding: 4px 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.point-coupon div span {
	font-size: 13px;
	font-weight: 500;
}

.point-coupon div span:last-child {
	color: var(--crimson);
}

.point-coupon .point {
	flex: 3;
}

.point-coupon .coupon {
	flex: 1
}

.delivering {
	padding: 20px;
}

.delivering h2 {
	font-size: 16px;
	font-weight: 500;
}

.delivering-items {
	border: 1px solid var(--gloudy);
	padding: 15px;
	border-radius: 10px;
}

.delivering-item {
	display: flex;
	gap: 10px;
	padding: 10px 0;
	border-bottom: 1px solid var(--gloudy);
}

.delivering-item:first-child {
	padding-top: 0;
}

.delivering-item:last-child {
	border: none;
	padding-bottom: 0;
}

.delivering-item .thum {
	width: 62px;
	height: 62px;
}

.delivering-item .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.delivering-item .desc span {
	font-weight: 400;
}

.delivering-item .desc b {
	display: block;
	color: var(--limegreen);
	font-weight: 500;
	margin-top: 2px;
}

.mypage .banner a img {
	width: 100%;
}

.user-shortcut a {
	display: block;
	height: 50px;
	border-bottom: 1px solid var(--gloudy);
	display: flex;
	align-items: center;
	font-size: 16px;
	padding: 0 15px;
}

.user-shortcut a:after {
	transform: rotate(-90deg);
	right: 15px;
}

.user-shortcut a .bi {
	width: 25px;
	text-align: center;
}

.user-shortcut a:last-child {
	border: none;
}

.user-shortcut a:nth-child(5) .bi {
	font-size: 19px;
}

.user-shortcut a span {
	font-weight: 400;
	margin-left: 10px;
}

.btn-signout {
	background-color: var(--gainsboro);
	width: 90%;
	margin: 15px auto;
	display: block;
}

/* #### Cart html #### */
.cart-content {
	padding: 0;
}

.cart-items-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-bottom: 0;
}

.cart-items-header h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
}

.cart-item {
	padding: 20px;
	border-bottom: 1px solid var(--gloudy);
}

.cart-item-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 15px;
}

.cart-item-title input[type=checkbox] {
	zoom: 1.2
}

.cart-item-title span {
	font-size: 16px;
	font-weight: 400;
}

.cart-item-title .btn-clear {
	transform: translateY(-6px);
	font-size: 20px;
}

.cart-item-desc {
	display: flex;
	gap: 10px;
}

.cart-item-thum {
	width: 80px;
	height: 80px;
	flex: 1;
}

.cart-item-thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	border-radius: 5px;
}

.cart-item-info {
	flex: 3
}

.cart-item-info span {
	display: block;
}

.cart-item-info .delivery-date {
	color: var(--limegreen);
	font-weight: 400;
}

.cart-item-info .delivery-time {
	font-weight: 400;
	margin: 5px 0;
}

.cart-item-info .delivery-time .bi {
	margin-right: 5px;
}

.cart-item-info .total-price {
	font-size: 19px;
	font-weight: 600;
	margin: 8px 0;
}

.cart-item-info .benefit {
	background-color: var(--lightgold);
	margin: 10px 0;
}

.cart-item-info .benefit em {
	font-style: normal;
	font-size: 12px;
	margin-left: 3px;
	font-weight: normal;
}

.cart-item-info .benefit em:before {
	content: '\F26E';
	font-family: bootstrap-icons;
	font-size: 16px;
	display: inline-block;
	transform: translateY(3px);
}

/* Custom Select */
/* .custom-select {
	appearance: none;
	border: 1px solid var(--gloudy);
	width: 70px;
	text-align: center;
	background: url(/images/icon-carret.svg) no-repeat center right 5px;
	background-size: 10px;
	padding: 3px;
} */

.custom-select {
	width: 70px;
	height: 30px;
	border: 1px solid var(--gloudy);
	background-color: var(--snow);
	display: flex;
	align-items: center;
	position: relative;
}

.custom-select:after {
	position: absolute;
	content: '\F229';
	font-family: bootstrap-icons;
	right: 8px;
	font-size: 11px;
	top: 5px;
	border-left: 1px solid var(--gloudy);
	padding-left: 8px;
	pointer-events: none;
}

.custom-select select {
	appearance: none;
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding-left: 16px;
}

.cart-items-summary {
	padding: 20px;
}

.cart-items-summary div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.cart-items-summary div span {
	font-size: 15px;
}

.cart-items-summary div span:first-child {
	font-weight: normal;
}

.cart-items-summary div span:last-child {
	font-weight: 500;
}

.cart-items-summary div:last-child {
	border-top: 1px solid var(--gloudy);
	padding-top: 15px;
}

.cart-items-summary div:last-child span:last-child {
	font-size: 18px;
	font-weight: 600;
}

.btn-order {
	background-color: var(--royalblue);
	border-radius: 0;
}

.cart-notice {
	font-size: 13px;
	color: var(--light-gray);
	list-style: none;
	padding-left: 19px;
}

.cart-notice li::before {
	content: '-';
	margin-right: 8px;
}