/* Import Local CSS */
@import url(/css/reset.css);
@import url(/css/variables.css);

* {
	font-family: var(--primary-kr);
	font-weight: 300;
}

body {
	margin: 0;
	color: var(--dark-black);
	line-height: 1.5em;
	font-size: 14px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
	width: 375px;
	position: relative;
}

/* Logo CSS */
.logo {
	font-family: var(--logo-en);
}

/* #### Preloading html #### */
.preloading {
	/* 작업 완료후 height : 100vh */
	height: 750px;
}

.preloading-inner {
	width: inherit;
	height: inherit;
	background: url(/images/preloading-back.jpg) no-repeat center left -140px;
	background-size: cover;
	position: relative;
}

.heading-preloading-inner {
	position: absolute;
	top: 73px;
	left: 33px;
}

.heading-preloading-inner .logo {
	font-size: 32px;
	color: var(--crimson);
	white-space: nowrap;
}

.slogan span {
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 43px;
	font-family: var(--secondary-kr);
}

/* #### Signin html #### */